@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

body {
   font-family: 'Quicksand', sans-serif;
   margin: 0;
   padding: 0;
   background-color: #2d2e30;
   color: white;
   overflow-x: hidden;
}


/* Header */
nav {
   position: sticky;
   top: 0;
   display: flex;
   align-items: center;
   margin: 0;
   height: 70px;
   padding-right: 50px;
   padding-left: 34px;
}

nav ul {
   display: flex;
   justify-content: space-between;
   list-style: none;
}

nav ul li a {
   text-decoration: none;
   color: white;
   font-size: 16px;
}

nav .logo{
  flex: 2;
  margin-left: 15px;
  margin-top: -7px;
}

nav ul {
   font-size: 0.9em;
   flex: 1;
 
}

.menu-toggle{
   display: none;
   flex-direction: column;
   height: 20px;
   /* margin-left: 30px; */
   justify-content: space-between;
   position: relative;
   margin-right: -27px;
}

.menu-toggle input {
   position: absolute;
   width: 40px;
   height: 28;
   left: -5px;
   top: -5px;
   opacity: 0;
   cursor: pointer;
}

.menu-toggle span{
   display: block;
   width: 28px;
   height: 3px;
   background-color: beige;
   transition: all 0.5s;
}

.menu-toggle span:last-child(2) {
   transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
   transform-origin: 0 100%;

}

.menu-toggle input:checked ~ span:nth-child(2) {
   transform: rotate(45deg) translate(2px, 9px);
}

.menu-toggle input:checked ~ span:nth-child(4) {
   transform: rotate(-45deg) translate(-1px,0);
}

.menu-toggle input:checked ~ span:nth-child(3) {
   transform: scale(0);
}

nav a:hover {
   font-weight: bold;
   color: green;
}

/* Main -> Hero */

/* main .hero  {
   display: flex;
   margin-left: 80px;
   margin-left: 80px;
}

main .hero div {
   margin: 30px;
}

main .hero  .teks{
   flex: 2;
}
main .hero  h3{
   color: green;
   font-size: 25px;
}

main .hero  h1{
   font-size: 32px;
   margin-top: -20px;
}


main .hero  .imghero{
   flex: 1;
   margin-top: -2px;
   

}

main .hero  .imghero:hover{
   transform: scale(1.03);
   transition: 1s;
}

main .hero .teks button{
   background-color:green;
   width: 168px;
   height: 48px;
   color: white;
   margin-top: 100px;
}

main .hero .teks button:hover{
   transform: scale(1.07);
   transition: 1s;
   cursor: pointer;
   
}

main .hero .teks a img:hover{
   transform: scale(1.02);
   cursor: pointer;
   
}

 */

/* content */
main .content {
   display: flex;
   flex-direction: column;
   margin: 100px;
}

main .content .project .portfolio{
   margin-top: 120px;
}

main .content .project .portfolio img:hover{
   transform: scale(1.02);
   transition: 0.5s;
}

main .content .project a:hover{
   font-weight: bold;
   color: green;
}

main .content .project .project5{
   display: flex;
   background-color: #2E2E2E;
   padding: 40px;
}

main .content .project div{
  flex: auto;
}

main .content .project .project5 .coba{
  flex: 4;
}

main .content .project .project5 button{
   background-color:green;
   width: 168px;
   height: 48px;
   color: white;
   margin-top: 10px;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}

.mengapa1 {
   display: flex;
   margin: 100px;
}

.mengapa1 .satu img:hover{
   transform: rotateY(45deg);
}

.profile {
   display: flex;
   align-items: center;
   height: 300px;
   
}

.profile div {
   margin-right: 120px;
   margin-left: 120px;
   flex: auto;

}

.profile .foto img:hover {
   transform: scale(1.07);
}

.btn-1:hover{
   transform: scale(1.04);
}

.btn-2:hover{
   transform: scale(1.04);
   
}

.btn-2 button a{
   text-decoration: none;
   color: white;
}

#btn-hero:hover{
   transform: scale(1.04);
}

#btn-hero1:hover{
   transform: scale(1.04);
}

#img-hero:hover{
   transform: scale(1.05);
}



@media screen and (max-width: 576px) {

   .menu-toggle{
      display: flex;
   }
   
   nav ul {
      position: absolute;
      right: 0;
      top: 0;
      height: 100vh;
      width: 70%;
      flex-direction: column;
      justify-content: space-evenly;
      background-color: green;
      align-items: center;
      z-index: -2;
      transform: translateX(100%);
      transition: all 1s;
      opacity: 0;
   }

   nav ul.slide {
      opacity: 1;
      transform: translateX(0);
   }

   nav .logo {
      margin-left: -10px;
   }

   main .hero  {
     display:unset;
   }
   

   main .hero .teks {
      width: 82%;
      margin-top: 10px;
      text-align: center;
      font-size: 16px;
      
   }

   main .hero .teks article p {
      margin-top: 1px;
   }

   main .hero .teks button{
     margin-top: 10px;
   }

   main .hero .imghero{
      display: none;
   }


   main .content {
      display:unset;
   }
   

   main .content .project h1{
      font-size: 20x;
      margin-left: 40px;

    }

    main .content .project .project5 {
      display:unset;
      background-color: black;
    }

    main .content .project .project5 h2 {
      display: none;

    }

    main .content .project .project5  {
      display:unset;
    }

    main .content .project .project5 .btn-1  {
      margin-left: 30%;
      width: 60%;
    }

    main .content .project .project5 .btn-2  {
      display:none;

    }

   main .content .project .portfolio img{
     width: 60%;
     margin-left: 40px;
     
   }

   .mengapa .mengapa1 {
      display: unset;
      
   }

   .mengapa .mengapa1 .satu {
      padding-left: 10px;
      margin-top: 50px;
      
   }

   .mengapa .tulisan article h1{
      width: 80%;
   }

   main .content .project .portfolio{
      margin-top: 30px;
      
   }

   tools .img{
      width: 60%;
      margin: auto;
   }

   .tools .img img{
      width: 80%;
      margin-left: 40px;
      margin-bottom: 70px;
   }

   .tools .tulisan article{
      margin-top: -80px;
      margin-bottom: -52px;
      width: 90%;
   }

   .profile {
     display: unset;
   }

   .profile div {
      margin: auto;
   }

   .profile .foto img{    
      width: 50%;
   }
   .profile .tulisan article{
      margin-top: 60px;
      margin-left: 144px;
      font-size: 20px;
   }
    footer p{
       /* margin-left: 50px; */
       margin-top: -150px;
       width: 92%;
    }
    body{
       margin: auto;
    }

    .tools1 .row .col img{
       width: 40px;
    }



}